body{
    margin: 0px;
}


.nav-wrapper {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:#9D061A;
    border: 2px solid silver;
}

.nav-left {
    margin-left:  15px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color:DDDCDC;
}


.nav-right{
    margin-right: 15px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

a {
    padding: 0 10px;
    text-decoration: none;
    color:DDDCDC;
}

#main-img {
    width: 100%;
    height: 50% ;
}
